<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Viewport" content="width=device-width,inital-screen" />
    <title>About Us</title>
    <link href="css/Abou_us.css" rel="stylesheet" />
    <link href="css/Abou_us.css" rel="stylesheet" />
  </head>
  <body>
    <img src="img.jpg" alt="" width="500" height="400" />

    <div class="about-section">
      <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
          Link shorteners are handy tools for professionals and consumers:It
          allows users to reduce lengthy urls into something more manageable.
          They can also use this tool to translate gibberish addresses into
          something more understandable. Decrease the character number for
          social media sharing: people attention spans are pretty short on
          social platforms because of the volume of content available there,
          wherever you post should be short, catchy and punchy.
        </p>
        <div class="skills">
          <span>URL Shortnal</span>
          <span>QR Code</span>
          <span>Link in Bio</span>
        </div>
      </div>
    </div>
  </body>
</html>
