{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" href="{{url_for('static',path='css/signin.css')}}" />
<div class="main_div">
  <div class="title">Login</div>
  <form action="#">
    <div class="input_box">
      <label for="username">Username</label>
      <input type="text" placeholder="Username" id="username" required />
    </div>

    <div class="input_box">
      <label for="pass">Passoword</label>
      <input type="password" placeholder="Password" id="pass" required />
      <div class="icon" id="password_toggle" onclick="myPassowrd()">
        <i class="bx bxs-hide" id="hide-password-icon"></i>
        <i class="bx bx-show" id="show-password-icon"></i>
      </div>
    </div>

    <div class="option_div">
      <div class="check_box">
        <input type="checkbox" id="check-box-in" />
        <label for="check-box-in"> Remember me</label>
      </div>
      <div class="forget_div">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
    <div class="btn-submit">
      <!-- <input type="button" value="Login" class="btn" /> -->
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
<script src="{{url_for('static',path='js/signin.js')}}"></script>
{% endblock %}
